apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cariereinit-ingress
  namespace: production-apps
  annotations:
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
  - secretName: tls-cariereinit
    hosts:
      - "cariereinit.societatea-hermes.ro"
      - "cariereinit.ro"
  rules:
  - host: "cariereinit.societatea-hermes.ro"
    http:
      paths:
        - path: /
          pathType: ImplementationSpecific
          backend:
            service:
              name: old-cariereinit-website
              port:
                number: 8000
  - host: "cariereinit.ro"
    http:
      paths:
        - path: /
          pathType: ImplementationSpecific
          backend:
            service:
              name: old-cariereinit-website
              port:
                number: 8000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hackathon-ingress
  namespace: production-apps
  annotations:
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
  - secretName: tls-hackathon
    hosts:
      - "hackathon.societatea-hermes.ro"
  rules:
  - host: "hackathon.societatea-hermes.ro"
    http:
      paths:
        - path: /
          pathType: ImplementationSpecific
          backend:
            service:
              name: old-hackathon-website
              port:
                number: 8000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ssmi-ingress
  namespace: production-apps
  annotations:
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
  - secretName: tls-ssmi
    hosts:
      - "ssmi.societatea-hermes.ro"
  rules:
  - host: "ssmi.societatea-hermes.ro"
    http:
      paths:
        - path: /
          pathType: ImplementationSpecific
          backend:
            service:
              name: old-ssmi-website
              port:
                number: 8000